<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me!</title>

    <link rel="icon" href="../images/descarga.png">

    <!-- Link to style -->
    <link rel="stylesheet" href="../styles/style.css">

    <!-- Link to bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    <section>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="../index.html">Caroline</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="../views/routine.html">Routine</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../views/cities.html">Cities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/hobbies.html">Hobbies</a>
                  </li>
              </ul>
              
            </div>
          </nav>
    </section>

    <section id="body">
        <div class="body">
            <h1 class="title about">Cities where i lived!</h1>
            <div>
                <table class="table table-dark">
                    <tr>
                        <th class="col">Description</th>
                        <th class="col">City</th>
                        <th class="col">Time</th> 
                    </tr>
                    <tr>
                        <td>I was borned in 2019 in a house!</td>
                        <td>Bahia Blanca</td>
                        <td>2019</td>
                    </tr>
                    <tr>
                      <td>I moved with my second master because the girl could't take care of me</td>
                      <td>Bahia Blanca</td>
                      <td>2019</td>
                    </tr>
                    <tr>
                      <td>We moved to a new city! It's was scary but a nice experience</td>
                      <td>Puerto Madryn</td>
                      <td>2020</td>
                    </tr>
                    <tr>
                      <td>Now i live with an entire family and i have 2 new friends, Shirley (she is a old cat) and Aquiles (he is a young dog and we play a lot)</td>
                      <td>Trelew</td>
                      <td>2020</td>
                    </tr>
                </table>
            </div>
        </div>
        
    </section>

    <section id="footer">
        <p>2020 Javier Fernandez</p>
    </section>


    
</body>
</html>